/*******************************************************************
*                        ESTILO DE NOTIFICACIONES                  *
*******************************************************************/
.failed{ -fx-background-color: #f2dede;
         -fx-text-fill:#a94442;
         -fx-border-style:solid;
         -fx-boder-width:1px;
         -fx-border-color: #ebccd1;
         -fx-border-radius:5px;
         -fx-padding:10px;
         -fx-background-radius:5px;
}


.successful{

    -fx-background-color: #def2de;
    -fx-text-fill:#44a942;
    -fx-border-style:solid;
    -fx-boder-width:1px;
    -fx-border-color: #ccebd1;
    -fx-border-radius:5px;
    -fx-padding:10px;
    -fx-background-radius:5px;
}

